@import "variables.scss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    color: $mainColor;
}
a {
    text-decoration: none;
}
ul, li {
    list-style: none;
}
input, button, select, textarea {
    outline: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
}
button {
    cursor: pointer;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.album__wrapper {
    position: absolute;
    background-color: rgba(0, 0, 0, .9);
    width: 100%;
    height: 100%;
    z-index: 99;
    display: none;
}
.album__header_top {
    padding: 50px 0 100px 0;
}
.album__header_link {
    font-size: 18px;
    font-weight: medium;
    color: #000;
    transition: $trans;

    &:hover {
        color: $hoverColor;
    }
}
.album__header_menu-list-item {
    margin-left: 66px;

    &:first-child {
        margin-left: 0;
    }
}
.album__basket_info {
    background-color: rgba(0, 0, 0, .4);

    &:hover {
        background: rgba(0, 0, 0, .8);
    }
}
.album__basket_text {
    color: #fff;
}
.album__burger_menu-text {
    color: #000;
}
.album__burger_menu-item {
    background-color: #000;

    &::before, &::after{
        background-color: #000;
    }
}
.album__burger_menu {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 22px;
    z-index: 100;
    transform: translateX(-20px);
}
.album__burger_menu-text{
    transform: translateX(-50px);
    padding-right: 28px;
    transition: $trans;
}
.album__burger_menu-item {
    position: absolute;
    top: 50%;
    width: 21px;
    height: 1px;
    background-color: #000;
    transition: $trans;

    &::before, &::after {
        content: '';
        position: absolute;
        height: 1px;
        background-color: #000;
        transition: $trans;
    }
    &::before {
        top: 7px;
        width: 30px;
    }
    &::after {
        top: -7px;
        width: 14px;
    }
}
.album__burger_menu:hover .album__burger_menu-text {
    color: $hoverColor;
}
.album__burger_menu:hover .album__burger_menu-item {
    background-color: $hoverColor;
    width: 20px;
}
.album__burger_menu:hover .album__burger_menu-item::before {
    background-color: $hoverColor;
    width: 20px;
}
.album__burger_menu:hover .album__burger_menu-item::after {
    background-color: $hoverColor;
    width: 20px;
}
.album__content {
    padding: 0 0 20px 0;
}
.album__title {
    color: #000;
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 600;
}
.album__counter_photoes {
    color: #000;
    text-align: right;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .25);
    margin-bottom: 40px;
}
.album__box_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.album__box_item {
    min-width: 140px;
    width: 30%;
    margin-bottom: 60px;
    margin-left: 5%;


    &:nth-child(1), &:nth-child(4), &:nth-child(7), &:nth-child(10), &:nth-child(13), 
    &:nth-child(16), &:nth-child(19),  &:nth-child(22), &:nth-child(25), &:nth-child(28), 
    &:nth-child(31), &:nth-child(34), &:nth-child(37){
        margin-left: 0;
    }
}
.album__item_link {
    position: relative;

    &:hover .album__search {
        opacity: 0;
        transition: all 0s;
    }
}
.album__item_img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .25);
    transition: $trans;

    &:hover {
        transform: scale(1.3);
        box-shadow: 0 10px 10px rgba(0, 0, 0, .5);
    }
}
.album__search {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 20px;
    transition: $trans;

    &:hover {
        opacity: .6;
    }
}





































@media (max-width: 1300px) {
    .album__item_img {
        &:hover {
            transform: scale(1);
        }
    }
}




@media (max-width: 1200px) {
    body.active {
        overflow: hidden;
    }
    .album__burger_menu.active .album__burger_menu-text {
        display: none;
    }
    .album__burger_menu.active .album__burger_menu-item {
        width: 0;

        &::before {
            top: 0;
            width: 30px;
            transform: rotate(45deg);
        }
        &::after {
            top: 0;
            width: 30px;
            transform: rotate(-45deg);
        }
    }

    
    .album__header_menu-list-item {
        margin-left: 0;
        margin-bottom: 30px;
    
        &:first-child {
            margin-left: 0;
        }
    }
    .header__media_list {
        margin-bottom: 30px;
    }
}




@media (max-width: 768px) {
    .album__title {
        font-size: 20px;
    }

    .album__search {
        bottom: 15px;
        right: 15px;
        width: 15px;
    }
}




@media (max-width: 576px) {
    .album__burger_menu-text{
        transform: translateX(-40px);
        padding-right: 25px;
    }

    .album__title {
        font-size: 18px;
        line-height: 28px;
    }

    .album__search {
        bottom: 10px;
        right: 10px;
        width: 15px;
    }
}







@media (max-width: 576px) {
    .album__box_item {
        min-width: 140px;
        width: 30%;
        margin-bottom: 60px;
        margin-left: 15px;
    
    
        &:nth-child(1), &:nth-child(4), &:nth-child(7), &:nth-child(10), &:nth-child(13), 
        &:nth-child(16), &:nth-child(19),  &:nth-child(22), &:nth-child(25), &:nth-child(28), 
        &:nth-child(31), &:nth-child(34), &:nth-child(37){
            margin-left: 15px;
        }
    }
}





@media (max-width: 481px) {
    .album__box_list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .album__box_item {

        &:nth-child(odd) {
            margin-left: 0;
        }
    }
}







@media (max-width: 387px) {
    .album__box_item {
        min-width: 140px;
        width: 70%;
        margin-bottom: 30px;
        margin-left: 0;
    
    
        &:nth-child(1), &:nth-child(4), &:nth-child(7), &:nth-child(10), &:nth-child(13), 
        &:nth-child(16), &:nth-child(19),  &:nth-child(22), &:nth-child(25), &:nth-child(28), 
        &:nth-child(31), &:nth-child(34), &:nth-child(37) {
            margin-left: 0;
        }
    }
} 