@import "variables.scss";
.delivery__header {
    height: 100vh;
    background-image: url(../images/Delivery/img-5711m.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.delivery__header_top {
    padding: 100px 0 225px 0;
}
.delivery__header_list-item {
    margin-left: 66px;

    &:first-child {
        margin-left: 0;
    }
}
.delivery__content_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.delivery__card {
    width: 280px;
    min-height: 360px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(6px);
    box-shadow: inset 0 -8px 30px rgba(255, 255, 255, .25);
    border: 1px solid;
    border-top-color: rgba(255, 255, 255, .5);
    border-right-color: rgba(255, 255, 255, .3);
    border-bottom-color: rgba(255, 255, 255, .25);
    border-left-color: rgba(255, 255, 255, .45);
    border-radius: 30px;
    padding: 30px 15px;
    margin-left: 30px;
    transition: all 1s;

    &:first-child {
        margin-left: 0;
    }

    &:hover {
        backdrop-filter: blur(1px);
        box-shadow: inset 0 0 0px rgba(255, 255, 255, .25);
        border-top-color: rgba(255, 255, 255, .7);
        border-right-color: rgba(255, 255, 255, .7);
        border-bottom-color: rgba(255, 255, 255, .7);
        border-left-color: rgba(255, 255, 255, .7);
    }

    &:hover .delivery__card_img {
        opacity: .8;
    }

    &:hover .delivery__title {
        opacity: .8;
    }
}
.delivery__card_img {
    margin-bottom: 60px;
    opacity: .3;
    transition: all 1s;
}
.delivery__title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
    color: #dddddd;
    text-shadow: 0 0 1px rgba(188, 188, 188, 0.3);
    transition: all 1s;
}
.delivery__text {
    text-align: center;
    text-shadow: 0 0 1px rgba(213, 213, 213, 0.3);
}






.delivery__info {
    padding: 120px 0 50px;
    background: $bg;
}
.delivery__info_title {
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 80px;
}
.delivery__info_wrapper {
    display: flex;
    justify-content: space-between;
}
.delivery__info_list {
    display: flex;
    flex-direction: column;
}
.delivery__info_list-item {
    margin-bottom: 50px;

    &:last-child {
        margin-bottom: 0;
    }
}
.delivery__info_list-text {
    font-size: 30px;
    font-weight: 500;
}
.delivery__info_text {
    width: 50%;
}
.delivery__info_text-item {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 30px;
}
























@media (max-width: 1200px) {
    .delivery__header_top {
        padding: 50px 0 185px 0;
    }


    .delivery__info_title {
        font-size: 35px;
    }
    .delivery__info_list-item {
        margin-bottom: 50px;
    
        &:last-child {
            margin-bottom: 0;
        }
    }
    .delivery__info_list-text {
        font-size: 24px;
    }
    .delivery__info_text {
        width: 60%;
    }
}







@media (max-width: 992px) {
    .delivery__header_top {
        padding: 100px 0 50px 0;
    }
    .delivery__content_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .delivery__card {
        min-width: 310px;
        max-width: 450px;
        min-height: 200px;
        max-height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 30px;
        padding: 15px;
        margin-bottom: 30px;
        margin-left: 0;

        &:last-child {
            margin-bottom: 0;
        }
    }
    .delivery__card_img {
        margin-bottom: 10px;
    }
    .delivery__title {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 30px;
        color: #dddddd;
        text-shadow: 0 0 1px rgba(188, 188, 188, 0.3);
    }
    .delivery__text {
        font-size: 12px;
        text-align: center;
        text-shadow: 0 0 1px rgba(213, 213, 213, 0.3);
    }
}





@media (max-width: 800px) {
    .delivery__info_title {
        font-size: 25px;
    }
    .delivery__info_wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .delivery__info_list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
    }
    .delivery__info_list-item {
        margin-bottom: 40px;
    }
    .delivery__info_text {
        width: 100%;
        text-align: center;
    }
    .delivery__info_text-item {
        font-size: 18px;
    }
}


@media (max-width: 767px) {
    .delivery__header {
        height: 920px;
        background-image: url(../images/Delivery/img-5711m.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}






@media (max-width: 576px) {
    .delivery__card {
        min-width: 280px;
        min-height: 200px;
        max-height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 30px;
        padding: 15px;
        margin-bottom: 30px;
        margin-left: 0;

        &:last-child {
            margin-bottom: 0;
        }
    }



    .delivery__info_title {
        font-size: 20px;
        line-height: 30px;
    }
    .delivery__info_list-item {
        margin-bottom: 30px;
    }
    .delivery__info_list-text {
        font-size: 16px;
    }
    .delivery__info_text-item {
        font-size: 13px;
    }
}