@import "variables.scss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #fff;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    color: $mainColor;
}
a {
    text-decoration: none;
}
ul, li {
    list-style: none;
}
input, button, select, textarea {
    outline: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
}
button {
    cursor: pointer;
}
.albums__header__wrapper {
    display: flex;
    justify-content: space-between;
}
.albums__header_content-left {
    width: 40%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .2);
    opacity: 0;
    z-index: 99;
    position: absolute;
    transition: all 2s;
    visibility: hidden;
}
.albums__header_content-left.active {
    opacity: 1;
    visibility: visible;
}
.albums__header_content-left.first {
    background-image: url(../images/Albums/Baners/img-7973.png);
}
.albums__header_content-left.second {
    background-image: url(../images/Albums/Baners/bg2.jpg);
    background-position: -400px 0;
}
.albums__header_content-left.third {
    background-image: url(../images/Albums/Baners/img-8015.jpg);
}
.albums__header_content-left.fourth {
    background-image: url(../images/Albums/Baners/mastier-klass-6421.jpg);
}
.header__content_left-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.header__content_left-title {
    margin-bottom: 40px;
    width: 95%;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, .25);
}
.albums__header_btn {
    margin-bottom: 90px;
    background: #fff;
    color: #000;
    transition: $trans;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        border-color: rgb(234, 234, 234);
    }
}








.albums__header_content-right {
    width: 57%;
    height: 100vh;
}
.header__content_right-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.albums__header_menu {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0 65px;
}
.albums__header__menu-list {
    display: flex;
}
.albums__header__menu-list-item {
    margin-left: 100px;

    &:first-child {
        margin-left: 0;
    }
}
.albums__header_menu-link {
    color: #000;
    font-weight: 500;
}
.header__content_right-title {
    color: #000;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 70px;
}
.albums__box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    transform: translateX(-5%);
    margin-bottom: 20px;
}
.albums__link {
    transition: $trans;
}
.albums__link:hover .albums__box_item-img {
    background-size: 110%;
}
.albums__link:hover .albums__box_item-text {
    color: $hoverColorTitles;
}
.albums__box_item {
    width: 200px;
    margin-left: 60px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.albums__box_item-img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, .25);
    transition: $trans;
}
.albums__img_first{
    background-image: url(../images/Albums/Bg/img-7973.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.albums__img_second {
    background-image: url(../images/Albums/Bg/img-7838.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.albums__img_third {
    background-image: url(../images/Albums/Bg/img-8016.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.albums__img_fourth {
    background-image: url(../images/Albums/Bg/mastier-klass-6421.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.albums__box_item-text {
    color: #000;
    text-align: center;
    transition: $trans;
}
.album__header_media-list {
    display: flex;
}
.album__header_media-item {
    margin-left: 32px;

    &:first-child {
        margin-left: 0;
    }
}
.media__icon_img {
    opacity: 1;
    transition: $trans;
}
.media__icon_img:hover {
    opacity: .5;
}
.albums__burger_menu {
    cursor: pointer;
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 22px;
    z-index: 100;
    transform: translateX(-30px);

    &:hover .albums__burger_menu-text {
        color: #A7DA7E;
    }
    &:hover .albums__burger_menu-item {
        background-color: #A7DA7E;
        width: 20px;
    }
    &:hover .albums__burger_menu-item::before {
        background-color: #A7DA7E;
        width: 20px;
    }
    &:hover .albums__burger_menu-item::after {
        background-color: #A7DA7E;
        width: 20px;
    }
}
.albums__burger_menu-text {
    transform: translateX(-40px);
    padding-right: 25px;
    color: #000;
    transition: $trans;
}
.albums__burger_menu-item {
    position: absolute;
    top: 50%;
    width: 21px;
    height: 1px;
    background-color: #000;
    transition: $trans;

    &::before, &::after {
        content: '';
        position: absolute;
        height: 1px;
        background-color: #000;
        transition: $trans;
    }
    &::before {
        top: 7px;
        width: 30px;
    }
    &::after {
        top: -7px;
        width: 14px;
    }
}
.btn__close {
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(3px);
    border: 1px solid;
    border-top-color: rgba(255, 255, 255, .65);
    border-left-color: rgba(255, 255, 255, .5);
    border-bottom-color: rgba(255, 255, 255, .4);
    border-right-color: rgba(255, 255, 255, .5);
    display: none;

    &_item {
        width: 16px;
        height: 1px;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.7);
        top: 50%;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
    }
    &_item::before {
        content: '';
        position: absolute;
        width: 16px;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.7);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-90deg);
    }
}





































@media (max-width: 1550px) {
    .header__content_left-title {
        font-size: 20px;
    }




    .albums__header__menu-list-item {
        margin-left: 70px;
    }
    .albums__box {
        width: 80%;
        transform: translateX(-5%);
        margin-bottom: 20px;
    }
    .albums__box_item-img {
        width: 150px;
        height: 150px;
    }
}











@media (max-width: 1200px) {
    .header__content_left-title {
        font-size: 18px;
    }




    .albums__header__menu-list-item {
        margin-left: 60px;
    }
    .albums__header_menu-link {
        font-size: 16px;
    }
    .albums__box {
        width: 100%;
        transform: translateX(-5%);
        margin-bottom: 20px;
    }
    .albums__box_item {
        width: 200px;
        margin-left: 60px;
        margin-bottom: 60px;
    }
    .albums__box_item-img {
        width: 130px;
        height: 130px;
    }
}












@media (max-width: 992px) {
    .albums__header_content-left {
        width: 43%;
    }
    .header__content_left-title {
        font-size: 16px;
    }



    .albums__header_menu {
        position: relative;
        justify-content: flex-end;
    }
    .albums__header__menu-list {
        display: block;
        position: absolute;
        z-index: 99;
        top: -300px;
        right: 23px;
        padding: 25px 30px;
        border-radius: 40px;
        background-color: rgba(255, 255, 255, 1);
        backdrop-filter: blur(3px);
        transition: all 2s;

        .albums__header__menu-list-item {
            margin-left: 0;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
        .albums__header_menu-link {
            color: #fff;
            transition: 2s;
        }
    }
    .albums__header__menu-list.active {
        display: block;
        position: absolute;
        z-index: 101;
        top: 35px;
        right: 23px;
        padding: 25px 30px;
        border-radius: 40px;
        background-color: rgba(0, 0, 0, .3);
        backdrop-filter: blur(3px);

        .albums__header__menu-list-item {
            margin-left: 0;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
        .albums__header_menu-link {
            color: #000;
            transition: $trans;

            &:hover {
                color: $hoverColor;
            }
        }
    }
    .albums__burger_menu {
        display: flex;
        z-index: 100;
    }
    .albums__burger_menu {
        display: flex;
        z-index: 100;
    }
    .albums__burger_menu.active .albums__burger_menu-item {
        width: 0;

        &::before {
            top: 0;
            width: 22px;
            transform: rotate(45deg);
        }
        &::after {
            top: 0;
            width: 22px;
            transform: rotate(-45deg);
        }
    }
    .albums__burger_menu.active .albums__burger_menu-text {
        display: none;
    }

    .header__content_right-title {
        font-size: 40px;
        margin-bottom: 100px;
    }
    .albums__box_item {
        width: 140px;
        margin-left: 60px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .albums__box_item-img {
        width: 120px;
        height: 120px;
    }
    .albums__box_item-text {
        font-size: 12px;
    }
}













@media (max-width: 850px) {
    .header__content_left-title {
        font-size: 14px;
    }
}








@media (max-width: 768px) {
    .albums__header_content-left {
        width: 50%;
    }
    .header__content_left-title {
        line-height: 23px;
    }
    .albums__header_menu {
        margin: 40px 0 40px;
    }
    .header__content_right-title {
        font-size: 25px;
        margin-bottom: 30px;
        font-weight: 400;
    }
    .albums__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        width: 60%;
        transform: translateX(0);
        margin-bottom: 20px;
    }
    .albums__box_item {
        width: 150px;
        margin-left: 0;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .album__header_media-list {
        display: none;
    }
}












@media (max-width: 576px) {
    .albums__header_content-left {
        width: 100%;
        position: absolute;
        height: 500px;
        top: -600px;
        left: 50%;
        transform: translateX(-50%);
        border-top-right-radius: 0;
    }
    .albums__header_content-left.active__mobile {
        width: 100%;
        position: absolute;
        height: 500px;
        top: 100px;
        border-radius: 0;
    }
    .albums__header_content-left.second {
        background-image: url(../images/Albums/Baners/bg2.jpg);
        background-position: 0 0;
    }
    .albums__header_content-right {
        width: 100%;
    }
    .albums__header_menu {
        margin: 50px 0 50px;
    }
    .header__content_right-title {
        font-size: 35px;
        margin-bottom: 50px;
        font-weight: 300;
        transition: all 2s;
    }
    .header__content_right-title.active__mobile {
        transform: translateY(500px);
    }
    .albums__box {
        transition: all 2s;
    }
    .albums__box.active__mobile {
        transform: translateY(500px);
    }
    .albums__box_item {
        width: 170px;
        margin-left: 0;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .albums__header__menu-list.active__mobile {
        display: block;
        position: absolute;
        z-index: 99;
        top: -300px;
        right: 23px;
        padding: 25px 30px;
        border-radius: 40px;
        background-color: rgba(0, 0, 0, .4);
        backdrop-filter: blur(3px);
        transition: all 2s;

        .albums__header__menu-list-item {
            margin-left: 0;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
        .albums__header_menu-link {
            color: rgb(41, 41, 41);
            transition: 2s;
        }
    }
    .albums__header__menu-list.active.active__mobile {
        display: block;
        position: absolute;
        z-index: 101;
        top: 140px;
        right: 23px;
        padding: 25px 30px;
        border-radius: 40px;
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(3px);

        .albums__header__menu-list-item {
            margin-left: 0;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
        .albums__header_menu-link {
            color: rgb(255, 255, 255);
            transition: $trans;

            &:hover {
                color: $hoverColor;
            }
        }
    }
    .btn__close {
        display: block;
        transition: $trans;

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(1px);
            border-top-color: rgba(255, 255, 255, .8);
            border-left-color: rgba(255, 255, 255, .8);
            border-bottom-color: rgba(255, 255, 255, .8);
            border-right-color: rgba(255, 255, 255, .8);
        }
    }
}






@media (max-width: 400px) {
    .header__content_right-title {
        font-size: 30px;
    }
}