$mainColor: #fff;
$hoverColor: #A7DA7E;
$bg: linear-gradient(60deg, #363030, #534A4A);
$fFamily: 'Lusitana', serif;
$trans: all .6s;
$gradient: linear-gradient(60deg, #A7DA7E, #ABE37E);
$bgCard: #6D5E5E;
$titleColor: #363030;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #fff;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    color: $mainColor;
}
a {
    text-decoration: none;
}
ul, li {
    list-style: none;
}
input, button, select, textarea {
    outline: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
}
button {
    cursor: pointer;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.header {
    height: 100vh;
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header__top {
    padding: 50px 0 185px 0;
}
.header__top_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}
.logo {
    transition: $trans;
}
.logo:hover {
    transform: rotate(-45deg);
}
.header__list {
    display: flex;
}
.header__list_item {
    margin-left: 50px;

    &:first-child {
        margin-left: 0;
    }
}

.header__list_link {
    color: $mainColor;
    transition: $trans;
}
.header__list_link:hover {
    color: $hoverColor;
}
.header__search_box {
    position: relative;
}
.header__search {
    position: relative;
    width: 300px;
    height: 50px;
    padding: 0 55px 0 20px;
    border-radius: 50px;
    background-color: rgba(206, 206, 206, 0.55);
    transition: $trans;

    &::placeholder {
        color:rgba(0, 0, 0, .6);
        font-size: 16px;
    }
}
.search__icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(-50%, -50%);
}
.header__search:hover {
    background-color: rgba(206, 206, 206, 0.687);
}
.header__search:focus{
    background-color: #fff;
}
.header_menu {
    display: flex;
    justify-content: space-between;
}
.header__menu_list {
    display: flex;
    font-weight: 400;
}
.header__menu_list-item {
    margin-left: 66px;

    &:first-child {
        margin-left: 190px;
    }
}
.header__menu_link {
    font-size: 18px;
    font-weight: medium;
    color: #fff;
    transition: $trans;

    &:hover {
        color: $hoverColor;
    }
}
.header__media_list {
    display: flex;
}
.header__media_item {
    margin-left: 30px;
    transition: $trans;

    &:first-child {
        margin-left: 0;
    }

    &:hover {
        opacity: .6;
    }
}
.header__basket {
    position: relative;
    transform: translate(0, -3px);

    &:hover .header__basket_info {
        height: 90px;
        width: 120px;
        padding: 9px 17px 18px 14px;
    }
}
.header__basket_link {
    padding-bottom: 20px;
}
.basket__counter {
    position: absolute;
    color: #000;
    font-weight: 700;
    font-size: 12px;
    background: $gradient;
    border-radius: 50%;
    padding: 2px 7px;
    top: 50%;
    right: 0;
    transform: translate(40%, 0);
}
.header__basket_info {
    cursor: pointer;
    position: absolute;
    top: 100%;
    right: 0;
    transform: translate(8px, 10px);
    background: rgba(255, 255, 255, .6);
    backdrop-filter: blur(3px);
    padding: 0;
    width: 0;
    height: 0;
    border-radius: 10px;
    overflow: hidden;
    transition: $trans;

    &:hover {
        background: rgba(255, 255, 255, 1);
    }
}
.header__basket_title {
    text-align: center;
    font-size: 14px;
    color: #000;
    font-weight: 400;
    margin-bottom: 10px;
}
.header__basket_text {
    text-align: left;
    font-size: 12px;
    color: #000;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    margin-bottom: 5px;

    &:first-child {
        margin-bottom: 0;
    }
}



.header__content_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__content_title {
    font-family: $fFamily;
    font-weight: bold;
    font-size: 110px;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, .25);
    margin-bottom: 11px;
}
.header__content_subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 60px;
}
.btn {
    background: #ABE37E;
    width: 220px;
    height: 56px;
    border-radius: 50px;
    color: #000;
    font-size: 18px;
    box-shadow: 0 8px 50px rgba(178, 215, 148, .1);
    transition: all 1s;

    &:hover {
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid;
        border-top-color: #ABE37E;
        border-left-color: #ABE37E;
        border-bottom-color: #A7DA7E;
        border-right-color: #A7DA7E;
        color: #fff;
    }
}
.header__content_link {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 186px;
    height: 186px;
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(4px);
    border-radius: 50%;
    border: 1px solid;
    border-top-color: rgba(255, 255, 255, .7);
    border-left-color: rgba(255, 255, 255, .5);
    border-bottom-color: rgba(255, 255, 255, .3);
    border-right-color: rgba(255, 255, 255, .55);
    transition: $trans;

    span {
        font-size: 22px;
        font-weight: 300;
        color: #fff;
        text-align: left;
        transform: translateY(-5px);
    }

    .header__content_link-arrow {
        transform: translateY(20px);
    }

    &:hover {
        background-color: rgba(255, 255, 255, .2);
        backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, .8);
    }
}



.section__text {
    padding: 100px 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__text {
    font-family: fFamily;
    font-size: 30px;
    color: #929292;

    span {
        font-weight: bold;
    }
}




.section__menu {
    padding: 100px 0;
    background: $bg;
}
.title {
    position: relative;
    font-family: $fFamily;
    font-size: 90px;
    letter-spacing: 3px;
    transform: translateX(95px);
    margin-bottom: 171px;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -95px;
        width: 65px;
        height: 1px;
        background-color: $mainColor;
    }
}
.menu__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menu__card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 315px;
    height: 365px;
    background-color: $bgCard;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: 0 20px 20px 20px;
    margin-bottom: 200px;
    transition: $trans;


    &:nth-child(16), &:nth-child(17), &:nth-child(18) {
        margin-bottom: 0;
    }

    &:hover {
        background-color: #877676;
    }
}
.menu__card_link {
    padding-bottom: 40px;
    color: $mainColor;
    transition: $trans;

    &:hover {
        color: rgb(12, 12, 12);
    }
    &:hover .menu__card_img {
        transform: translateY(-100px);
    }
}
.menu__card_img {
    width: 230px;
    transform: translateY(-70px);
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .25);
    margin-bottom: -50px;
    transition: $trans;
}
.menu__card_title {
    font-family: $fFamily;
    font-size: 30px;
    margin-bottom: 10px;
}

.section__info {
    padding: 100px 0;
}
.info__title {
    color: $titleColor;
    margin-bottom: 165px;

    &::before {
        height: 2px;
        background-color: $titleColor;
    }
}
.info__content_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 250px;
}
.content__top_left {
    color: #000;
    width: 42%;

    .content__top_title {
        margin-bottom: 50px;
        font-size: 35px;
        font-weight: 400;
        text-align: center;
    }
    .content__top_text {
        margin-bottom: 50px;
        font-size: 18px;
    }
}
.content__text {
    line-height: 30px;
}
.content__top_right {
    width: 58%;
}
.slider {
    min-width: 0;
    position: relative;
}
.content__top_slider {
    transform: translateX(100px);
}
.slide__img {
    height: 100%;
    width: 100%;
}
.slick-list {
    overflow: hidden;
}
.slick-track {
    display: flex;
}
.content__top_slider .slick-arrow {
    position: absolute;
    top: 100%;
    z-index: 10;
    font-size: 0;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(4px);
    border: 1px solid;
    border-top-color: rgba(255, 255, 255, .65);
    border-right-color: rgba(255, 255, 255, .55);
    border-bottom-color: rgba(255, 255, 255, .4);
    border-left-color: rgba(255, 255, 255, .55);
    transform: translateY(-126px);
    transition: $trans;

    &:hover {
        background-color: rgba(255, 255, 255, .4);
    }
    &:focus {
        background-color: rgba(255, 255, 255, .3);
    }
}
.content__top_slider .slick-prev {
    left: 0;
    background-image: url(../images/стрелкаСлайдерВлево.svg);
}
.content__top_slider .slick-next {
    left: 69px;
    background-image: url(../images/стрелкаСлайдерВправо.svg);
}
.slider .slick-arrow.slick-disabled {
    /* background-color: rgba(0, 0, 0, .2); */
    background-image: none;
}
.content__top_slider .slick-dots {
    margin-top: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content__top_slider .slick-dots li {
    margin-left: 15px;

    &:first-child {
        margin-left: 0;
    }
}
.content__top_slider .slick-dots button {
    font-size: 0;
    width: 8px;
    height: 8px;
    background-color: $titleColor;
    border-radius: 50%;
    transition: $trans;

    &:hover {
        background-color: #918080;
    }
    &:focus {
        background-color: #7D6D6D;
    }
}

.info__content_bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 250px;
}
.content__bottom_left {
    width: 58%;
}
.content__bottom_right {
    color: #000;
    width: 40%;

    .content__bottom_title {
        margin-bottom: 50px;
        font-size: 35px;
        font-weight: 400;
        text-align: center;
    }
    .content__bottom_text {
        margin-bottom: 50px;
        font-size: 18px;
        text-align: right;
    }
}
.content__bottom_slider {
    transform: translateX(-100px);
}
.content__bottom_slider .slick-arrow {
    position: absolute;
    top: 100%;
    z-index: 10;
    font-size: 0;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(4px);
    border: 1px solid;
    border-top-color: rgba(255, 255, 255, .65);
    border-right-color: rgba(255, 255, 255, .55);
    border-bottom-color: rgba(255, 255, 255, .4);
    border-left-color: rgba(255, 255, 255, .55);
    transform: translateY(-126px);
    transition: $trans;

    &:hover {
        background-color: rgba(255, 255, 255, .4);
    }
    &:focus {
        background-color: rgba(255, 255, 255, .3);
    }
}
.content__bottom_slider .slick-prev {
    left: 0;
    background-image: url(../images/стрелкаСлайдерВлево.svg);
}
.content__bottom_slider .slick-next {
    left: 69px;
    background-image: url(../images/стрелкаСлайдерВправо.svg);
}
.slider .slick-arrow.slick-disabled {
    /* background-color: rgba(0, 0, 0, .2); */
    background-image: none;
}
.content__bottom_slider .slick-dots {
    margin-top: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content__bottom_slider .slick-dots li {
    margin-left: 15px;

    &:first-child {
        margin-left: 0;
    }
}
.content__bottom_slider .slick-dots button {
    font-size: 0;
    width: 8px;
    height: 8px;
    background-color: $titleColor;
    border-radius: 50%;
    transition: $trans;

    &:hover {
        background-color: #918080;
    }
    &:focus {
        background-color: #7D6D6D;
    }
}