$mainColor: #fff;
$hoverColor: #A7DA7E;
$hoverColorTitles: #4da505;
$bg: linear-gradient(60deg, #363030, #534A4A);
$fFamily: 'Lusitana', serif;
$trans: all .6s;
$gradient: linear-gradient(60deg, #A7DA7E, #ABE37E);
$bgCard: #6D5E5E;
$titleColor: #363030;